
<div class='list-inline'>
  <h1 class='list-in-line-item'>
    <%= t(".title") %> (<%= pluralize(@bodies.roots.count, 'entité', plural: 'entités') %>)
  </h1>
  <%= link_to 'Ajouter un organisme', new_body_path, class: 'list-inline-item btn btn-flat btn-sm' %>
</div>
<div class="container">
  <ul>
    <% @bodies.each do |body| %>
      <li><%= body.short_name %> <%= body.long_name %></li>
    <% end %>
  </ul>
  <%= link_to t("shared.back"), :back %>
</div>





